version: '3'

services:
  ui:
    entrypoint: ["npm", "start"]
    environment:
      NODE_ENV: development
      REACT_APP_DATA_SERVICE_URL: http://localhost:8080
    image: node:10.15-alpine
    ports:
      - "3000:3000"
    volumes:
      - ./ui:/opt/ui
    working_dir: /opt/ui

  server:
    entrypoint: ["npm", "start"]
    environment:
      NODE_ENV: development
      ENV_DB_HOST: database
      ENV_DB_USER: root
      ENV_DB_PWD: hipages
      ENV_DATABASE: hipages
      ENV_DB_PORT: 3306
    image: node:10.15-alpine
    links:
      - database:database
    ports:
      - "8080:8080"
    volumes:
      - ./server:/opt/server
    working_dir: /opt/server
  
  database:
    image: mysql:5.6
    environment:
      MYSQL_ROOT_PASSWORD: hipages
      MYSQL_DATABASE: hipages
    ports:
      - "3306:3306"
    volumes:
      - ./docker/mysql:/docker-entrypoint-initdb.d